.heading{
    text-align: center;
    color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color: darkgreen;
    background-color:  rgb(46, 139, 87, 0.5);
    text-align: center;
}
.info{
    color: darkgreen;
}

.pics{

}

.container{
    border:2px #004623;
    position: relative;
    top: 2px;
    margin: 15px;
    padding: 10px;
    height: 1500px;
    overflow: hidden;
    background-color: rgb(249, 249, 249);
    text-align: center;
}