.heading{
    text-align: center;
    color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color: thistle;
    background-color:  rgb(46, 139, 87, 0.5);
    text-align: center;
}
.info{

}

.pics{

}

.container{

}